*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    font-size: 1rem;
}
#signup{
    background: rgb(81, 204, 204);
    border-radius: 30px;
    
}
img{
    border-bottom: 30px;
}
.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
.btn1:hover{
    background: white;
    border: 1px solid;
    color: black;
}
.gradient{background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(12,21,31,0.938813025210084) 100%);
}
.fit-image{
    width: 100%;
    object-fit: cover;
    height: auto;
    margin-left: 18px;
    opacity: 50%;
    }
.page-header{
    margin-top: 4rem;
    font-size: 1.25rem;
    color:white;

}

.logo-icon {
        transform:scale(2.0,2.0);
        -ms-transform:scale(2.0,2.0); /* IE 9 */
        -moz-transform:scale(2.0,2.0); /* Firefox */
        -webkit-transform:scale(2.0,2.0); /* Safari and Chrome */
        -o-transform:scale(2.0,2.0); /* Opera */
}
.feature{
    color:white;
}
.feature ul{
    padding-left: 2rem; 
    list-style-type: none;
}
.feature ul li.check{
    padding-left: 2rem;
    background-image: url(../images/check.jpeg) no-repeat left top;
    height: 54px;
    padding-left: 44px;
    padding-top: 3px;
    margin-bottom: 1rem;
}

:root{
    --offcanvas-width: 270px;
    --topNavebarHeight: 56px;

}
.sidebar-nav{
    width: var( --offcanvas-width);
}

main{
    margin-left: var(--offcanvas-width);
}
@media (min-width : 992px){
    body{
        overflow: auto !important;
    }

    .offcanvas-backdrop::before{
        display: none;
    }


    .sidebar-nav{
        transform: none;
        visibility: visible !important;
        top: var(--topNavebarHeight);
        height: calc(100% - var(--topNavebarHeight));
    }
}
.sidebar-link{
   
    align-items: center;

}
tr:hover {
    background: grey;
   }
td a {
     display: block;
     }


body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
.msg {
    width: 100%;
    margin: 5px auto;
    padding: 8px;
    border-radius: 5px;
    list-style: none;
  }
  .error {
    color: #884b4b;
    border: 1px solid #884b4b;
    background: #f5bcbc;
  }
  body{
    margin-top: 40px;
  }
  ul, li {
      list-style: none;
  }
  h5{
    margin: 0;
    
  }
  h3{
    color: #2996bd;
    margin: 10px 0px 15px;
    padding-bottom:10px;
    padding-left: 10px;
    border-left: 5px solid #32aae1;
  }
  .sidebar.widget {
    background: #f2f2f2;
    border: 1px solid #ddd;
    padding: 10px 20px;
  }
  .sidebar.widget ul {
      margin: 0px;
      padding: 0;
      overflow: hidden;
  }
  .sidebar.widget ul li {
      overflow: hidden;
      font-size: 14px;
      margin-bottom: 20px;
      border-bottom: 1px dashed #ddd;
      padding-bottom: 20px
  }
  .sidebar-thumb{
      float: left;
      overflow: hidden;
      margin-right: 15px;
  }
  .sidebar-thumb img{
    background: #fff;
    border: 1px dashed #e0e0e0;
    padding: 6px;
    height: 75px;
    width: 75px;
    
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
  }
  .sidebar-content h5{ 
      font-size: 16px;
      cursor: pointer;
      line-height: 24px;
  }
  .sidebar-content h5 a:hover{ 
    color: #2996bd;
  }
  
  .sidebar-content h5 a{ 
      color: #202020;
      outline: 0 none;
      text-decoration: none;
      font-weight: bold
  }
  .sidebar-meta{
    margin-top: 10px;
  }
  .sidebar-meta span{
    color: #2e2e2e;
  }
  .sidebar-meta span.time{
    margin-right: 10px;
  }
  .sidebar-meta span i{
    color: #2996bd
  }